doctype html
html(lang='en')
  head
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    style
      include ../public/stylesheets/style.css    
    //- script.
    //-   const hello =  "testing testing 123456797";
  body

    .block1
      .image-block
      .signInBlock
        button#signup(type='button') Sign Up
        h1#login Login
      img.logo(src="https://i.imgur.com/ZJFcBv2.png" alt="logo image")
      .block1style
        h1#title
          | Your Live & 
          br
          | On-Demand
          br
          | Events Platform

        p#subtitle
          | JUNO is an online events platform built to engage
          br
          | with your audience 365 days a year.

        //- Get Started Button:
        button(type="button" id="getStartedBtn" class="btn btn-light")<i id="playButton" class="bi bi-play "></i>Get Started</button>

        .getAppBlock
          <h2 id="getAppText"> <a href="https://play.google.com/store?&utm_source=na_Med&utm_medium=hasem&utm_content=Nov0520&utm_campaign=Evergreen&pcampaignid=MKT-EDR-na-us-1000189-Med-hasem-py-Evergreen-Nov0520-Text_Search_BKWS-id_100752_%7cEXA%7cONSEM_kwid_43700045371544949&gclid=Cj0KCQiA3fiPBhCCARIsAFQ8QzU7q_JuyCNsEjx6ZIXO_op3-HVytRsxxOlRa74Llz0ekKhfvtO3zvwaAo2vEALw_wcB&gclsrc=aw.ds"><i class="fa fa-android" id="app" style="font-size:15px"></a></i> <a href="https://www.apple.com/app-store/"><i class="fa fa-apple" id="app" style="font-size:15px"></i></a> Get the app today </h2>

    #block2
      #block2Text
        p#block2title
          | Connect your people.
          br
          | No matter the medium.
        
        p#block2sub
          | Juno equips you to step in without the barriers of
          br
          | location
          img.block2#devices(src="https://i.imgur.com/1kMQQEf.png")
    
    #block3
      #block3Titles
        h3#block3Title Our platform is designed around 4 human motivators
        h3#block3Subtitle Here's how it works
      
      //- Grid 
      <div class="container">
      <div class="One">1</div>
      <div class="Two">2</div>
      <div class="Three">3</div>
      <div class="Four">4</div>
      <div class="oneTitle">Connect your Crowds</div>
      <div class="twoTitle">Gamify the Experience</div>
      <div class="threeTitle">Engage with Business Growth</div>
      <div class="fourTitle">Continuous Interaction</div>

      <div class="oneDescrip">Onboard users around interests,strengths and desired improvement areas and allow machine learning triggers to recommend peer connections, mainstage, and breakout learning opportunities. </div>
      <div class="twoDescrip">Deliver powerful gamification tools supporting real-time and ongoing user competition. Weighted algorithms are also designed to increase check-ins and deeper discovery through rewards and recognition.</div>
      <div class="threeDescrip">Support users and partners by facilitating business connections through live exhibit experiences, digital think-tank sessions, suggested collaboration partnerships, and skill-based visibility tools. </div>
      <div class="fourDescrip">Create EQ and IQ learning pathways to engage users on all levels. From certification and badging to goal setting and performance commitments offer a diverse set of actions for users to personally develop.</div>

      <div class="Picture"><img id="block3img" src="https://i.imgur.com/PEbCBjt.png")></div>
      </div>
      button#scheduleDemoBtn(type='button' class='btn btn-secondary') SCHEDULE A DEMO TODAY
    
    #block4
      #block4Titles
        h3#block4Title Our Partners
        h4#block4Subtitle Trusted by world-leading organizations