doctype html
html(lang='en')
  head
    style
      include ../stylesheets/style.css    
    //- script(type='text/javascript').
    //-   const foo = true;
    //-   let bar = function() {};
    //-   if (foo) {
    //-   bar(1 + 5)
    //-   }
  body
    .block1
      h1
        | Your Live &
        br
        | On-Demand
        br
        | Events Platform
        p
          | JUNO is an online events platform built to engage
        
          | with your audience 365 days a year.
    #block2
      p just testingggggggg
